.navbar{
  background-color: #ddd676;
}

.btn-accept{
  background-color: #1daa53;
  color: white;
}

.btn-cancel{
  background-color: #821f1f;
  color: white;
}

.modal-title{
  text-align: center;
  font-weight: bold;
}

.modal-body{
  text-align: center;
  font-size: 1.2em;
}