.tasks-list{
  background-color: #666666;
  width: 100%;
  min-height: 220px;
  font-size:0px;
  font-family: 'Open Sans';
}

.color-1{
  background-color: $task-1;
}

.color-2{
  background-color: $task-2;
}

.color-3{
  background-color: $task-3;
}

.color-4{
  background-color: $task-4;
}

.color-5{
  background-color: $task-5;
}

.color-6{
  background-color: $task-6;
}

.color-7{
  background-color: $task-7;
}

.task{
  width: 100%;
  height: 60px;
  margin-bottom:20px;
  display: inline-block; 
  border-top: 1px solid black;
  border-bottom: 1px solid black;



  .title, .time, .buttonHolder{
    display: inline-block;
    width: 20%;
    height: 100%;
    vertical-align: top;
    position: relative;
    color: white;
    font-size:20px;
    text-shadow: 1px 2px 2px #000000;
    position: relative;

    span{

      //Task Height - Border Radius * 2 (currently 60px - 2px)
      text-align: center;
    }
  }

  .title{
    margin-right: 30%;
    word-wrap:break-word;

    span{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .time{

    position: relative;

    .time-wrapper{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width:100%;
      text-align: center;
    }

    .hour, .colon, .minute{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: calc(100%/3);
    }

    .hour{
      left:25%;
      transform: translateX(-25%);
    }

    .minute{
      left:-25%;
      transform: translateX(25%);
    }

    .colon span{

      //2px less than the other spans because of font issues
      line-height: 56px;
    }
  }

  .buttonHolder{
    right:0px;
    margin-right:5%;

    .upload-btn, .timer-btn, .delete-btn{
      text-align: center;
      line-height: 58px;
      display: inline-block;
      position: absolute;
    }

    .upload-btn{
      left:0;
    }
    .timer-btn{
      left: 50%;
      transform: translateX(-50%);
    }
    .delete-btn{
      right: 0;
    }
  }

  
}

.add-task{
  font-size: 48px;
  color: white;
  text-align: right;
  vertical-align: middle;
  padding-right: 20px;
}

@media screen and (max-width: 1200px) and (min-width: 992px){
  .task{

    .title{
      font-size: 16px;
    }
  }

}

@media screen and (max-width: 991px) and (min-width: 768px){
  .task{

    .title{
      font-size: 20px;
    }
  }

}


@media screen and (max-width: 768px){
  .task{

    .title{
      margin-right: 15%;
    }

    .buttonHolder{
      width:35%;
    }

    .title{
      font-size: 2.5vw;
    }

    .time{
      font-size: 3vw;
    }
  }

}