.tasks-list{
  background-color: #666666;
  width: 100%;
  min-height: 220px;
  font-size:0px;
  font-family: 'Open Sans';
}

.task{
  width: 100%;
  height: 60px;
  margin-bottom:20px;
  display: inline-block;
  border: 1px solid red;

  .title, .time, .timer-btn{
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;
    position: relative;
    color: white;
    font-size:28px;

    span{

      //Task Height - Border Radius * 2 (currently 60px - 2px)
      line-height: 58px;
      text-align: center;
      display: block;
    }
  }

  .title{
    margin-right: 10%;
  }

  .time{

    margin-right: 10%;

    .hour, .colon, .minute{
      display: inline-block;
      vertical-align: top;
      position: relative;
      width: 33%;
    }

    .colon span{

      //2px less than the other spans because of font issues
      line-height: 56px;
    }
  }

  .timer-btn i{
    text-align: right;
  }
}

.add-task{
  font-size: 48px;
  color: white;
  text-align: right;
  vertical-align: middle;
  padding-right: 10px;
}