.my-projects-container{
	display: block;
	position: relative;
	font-family: 'Roboto Condensed';
}

.my-projects-container .project-holder{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.my-projects-container .project-holder .title{
	height: 80px;
	margin-bottom: 8px;
	text-align: center;
	line-height: 80px;
	font-size: 24px;
	color: white;
	background-color: #436521;
}

.my-projects-container .project-holder .image{
	margin-bottom: 36px;
}

.my-projects-container .project-holder .image .image-link{
	display: block;
	position: relative;
	z-index: 2;
	width: 75%;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.my-projects-container .project-holder .image .small, .my-projects-container .project-holder .image .big {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.my-projects-container .project-holder .image .small{

	display: none;
}

.my-projects-container .project-holder .details-wrapper{
	background-color: rgba(150, 150, 150, .5);
	padding-top: 10px;
	padding-bottom: 10px;
}

.my-projects-container .project-holder .details {
	text-align: center;
	margin-bottom: 16px;
	color: #241000;
}

.my-projects-container .project-holder .btns-row{
	width: 100%;
	position: relative;
	font-size: 0;
}

.my-projects-container .project-holder .btns-wrapper{
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
}

.my-projects-container .project-holder .btn:hover, .my-projects-container .project-holder .btn:active {
	background-color: #9f6934;
	border: 2px solid #3e2a14;
}

.my-projects-container .project-holder .btn{
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 8px;
	border: 2px solid #9f6934;
	background-color: #3e2a14;
	position: relative;
	margin-right: 10px;
	font-size: 18px;
	transition: all .2s ease-in-out;
}

@media only screen and (max-width: 1024px) and (min-width: 481px){

	.my-projects-container .project-holder .image .small{

		display: block;
	}
	.my-projects-container .project-holder .image .big{

		display: none;
	}

	.my-projects-container .project-holder .details-wrapper{
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media only screen and (max-width: 480px){

	.my-projects-container .project-holder .image .small{
		width: 100%;
		display: block;
	}
	.my-projects-container .project-holder .image .big{

		display: none;
	}

	.my-projects-container .project-holder .details-wrapper{
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.my-projects-container .project-holder .btn{
		font-size: 12px;
	}
}

