body, html{
  width: 100%;
  height: 100%;
  position: relative;
}

.box{
  height:40px;
  width: 40px;
  background-color: blue;
}

.container{
  width: 100%;
  height:100%;

  top:0;
  left:0px;
  background-color: #436521;
  transition: all 0.7s;
  vertical-align:bottom;
}


/* HEADER */

.header{
  display: block;
  position: relative;
  width: 100%;
  height: 120px;
  font-family: 'Roboto Condensed';
  color: white;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.header-wrapper{
  height: 100%;
  position: relative;
}

.header-wrapper ul{
  list-style:none;
  padding: 0px;
  margin: 0px;
  font-size: 0;
}

.header-wrapper ul li{
  margin: 0;
  width: calc(100% / 3);
  line-height: 60px;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 18px;
  border-bottom: none;
  opacity: 1;
  transition: all .6s;
  border-bottom: 2px solid white;
}

.header-wrapper ul .active{
  color: white;
  border-bottom: 2px solid #9f6934;
}

.header-wrapper ul a:hover{
  color: #9f6934 !important;
  font-weight: bold;
}

.header-wrapper ul li a, .header-wrapper ul li a:visited{
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  width: 100%;
  height: 100%;
  display: block;
}



/* BODY */

.main-body{
  width: 100%;
  position: relative;
  display: block;
  background-color: #436521;
}

.main-body .body-content{
  width: calc(100% - 100px);
  display: block;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
}

/* Animations & Layers */

.shrink-vert{
  min-height: 5px;
  width: 90%;
}

.shrink-vert-horiz{
  min-height: 5px;
  width: 5px;
}

.mid{
  z-index: 2;
}

.under{
  z-index:1;
}

.over{
  z-index:3;
}

.slide-right{
  transform: translateX(25%);
  overflow-y: hidden;
}

.green-fade{
  background-color: rgba(94,124,77, 0.5);
}

.turn-brown{
  background-color: #3e2a14 !important;
}

.turn-gray{
  background-color: #666666 !important;
}

.scroll-lock{
  overflow: hidden;
}

.load{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: linear-gradient(45deg, #1d2b0e, #436521);
  opacity:0;
  pointer-events: none;
  transition: opacity .1s linear;
}

/* COLORS */

/* 
  Browns - Light to Dark

  #9f6934 rgb(159,105,52)

  #654321 rgb(101,67,33)

  #3e2a14 rgb(62,42,20)

  Green

  #436521 rgb(67,101,33)

*/

@media only screen and (min-width: 481px) and (max-width: 768px){

  .header-wrapper ul li{
    font-size: 14px;
  }

  .container{
    transition: all .4s;
  }

  .slide-right{
    transform: translateX(40%);
  }
}

@media only screen and (max-width: 480px){

  .header-wrapper ul li{
    font-size: 14px;
  }

  .container{
    transition: all .4s;
  }

  .main-body .body-content{
        width: calc(100% - 16px);
    padding-left: 8px;
    padding-right: 8px;
  }

  .slide-right{
    transform: translateX(50%);
  }
}

.fade-in{
  opacity:1;
}